<!-- <div class="optionheader" [style.backgroundColor]="headercolor"></div> -->
<div class="display-flex no-wrap">
    <div class="bigger chart-div white-bg">
            <div id="container" [chart]="chart"></div>
    </div>
    <div [hidden]="!this.showOptionsPanel" class="options gray-bg">
        <div class="display-flex flex-halign-center button-list">
            <div *ngFor="let item of chartTypes" (click)="changeType($event,item.name)" [class.active]="item.name == type">{{item.caption}}</div>
        </div>
        <div *ngIf="this.mode3d" class="options-slider">
            <input [(ngModel)]="alpha" (input)="change3D($event, 'alpha')" title="Alpha angle" id="alpha_angle" type='range' min='0' max='45' />
            <input [(ngModel)]="beta" (input)="change3D($event, 'beta')" title="Beta angle" id="beta_angle" type='range' min='-45' max='45' />
            <input [(ngModel)]="depth"  (input)="change3D($event, 'depth')" title="Depth" id="depth" type='range' min='20' max='100' />
        </div>

        <div class="display-flex flex-halign-center m-t-20">
            <div class="toggle3d">{{this.mode3d ? '3D' : '2D'}}</div><div class="tg-switch"><input (change)="changeToggle($event)" [(ngModel)]="mode3d" type="checkbox" id="switch" /><label for="switch">Toggle</label></div>
        </div>
    </div>
</div>
